anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
autopep8==1.6.0
bcrypt==3.2.2
beautifulsoup4==4.11.1
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
cryptography==37.0.2
cssselect==1.1.0
cssutils==2.4.2
Deprecated==1.2.13
distlib==0.3.4
dnspython==2.2.1
docopt==0.6.2
email-validator==1.2.1
fastapi==0.75.2
filelock==3.7.0
gunicorn==20.1.0
h11==0.13.0
httptools==0.4.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
keyring==23.6.0
lxml==4.9.0
MarkupSafe==2.1.1
mock==4.0.3
neo4j==4.4.2
orjson==3.7.2
packaging==21.3
pipreqs==0.4.11
platformdirs==2.5.2
premailer==3.10.0
psycopg2==2.9.3
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
PyJWT==2.4.0
pyparsing==3.0.9
python-decouple==3.6
python-dotenv==0.20.0
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
redis==4.3.3
requests==2.27.1
rsa==4.8
six==1.16.0
slack-sdk==3.15.2
sniffio==1.2.0
soupsieve==2.3.2.post1
starlette==0.17.1
toml==0.10.2
typing_extensions==4.2.0
ujson==5.3.0
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
virtualenv==20.14.1
watchgod==0.8.2
websockets==10.3
wrapt==1.14.1
yagmail==0.15.277
yarg==0.1.9
